.body{
  margin: 0;
}

/* // by lucas: :D */
.myboxborder {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #000000;
  border-radius: 10px;
}

/* #by astrid: :p*/

.homepage{
  background-color: aliceblue;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.header{
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  height: 100px;
  background-color: #3273a8;
  padding: 20px 10px;
  width: 100%;
  margin: 0;
}

.header a {
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: 540;
  font-size: 26px;
  line-height: 25px;
  border-radius: 40px;
}

.header a:hover {
  background-color: aliceblue;
  color: #3273a8;
}

.header a.active {
  background-color: aliceblue;
  color: #3273a8;
}

.headerlinks{
  height: 100px;
}

.logo{
  margin: 0px 30px 50px;
}

.intro{
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro h1{
  color: black;
  font-size: 35px;
  font-weight: bold;
}

.info{
  margin: 25px;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3273a8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 25px;
  height: 200px;
}

.tableDrop {
  padding: 10px;
  border-radius: 25px;
}

.querypg{
  margin-top: 50px;
  margin-bottom: 50px;
  height: 90%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 25px;
}

.querypg label{
  font-weight: bold;
}

.querypg button{
  margin-left: 10px;
  margin-right: 10px;
  background-color: #4e86b4;
  padding: 10px;
  width: 100px;
  border-radius: 25px;
}


.querypg button:hover {
  background-color: aliceblue;
  color: #3273a8;
}

.querypg button.active {
  background-color: aliceblue;
  color: #3273a8;
}

.querybox{
  padding: 20px;
  line-height: 25px;
  font-weight: bold;
}

.querybox h2{
  font-size: 30px;
  line-height: 60px;
}

.querybox button{
  margin-top: 15px;
  margin-bottom: 15px;
}

.querybox p{
  margin-top: 15px;
  margin-bottom: 15px;
}

/* FOR ABOUT ME */
.about-me-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  font-family: Arial, sans-serif;
}

.person-container {
  width: 200px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px; /* Adjust border-radius for smoother edges */
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin-bottom: 10px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.person-details {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 10px;
}